.upvoted {
    background-color: greenyellow;
}

.downvoted {
    background-color: coral;
}

.vote-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.vote-buttons p {
    margin: 4px 0 4px 0;
}

.article-comment {
    display: flex;
    gap: 14px;
}

.comment-info {
    display: flex;
    position: relative;
}

.comment {
    display: flex;
    flex-direction: column;
    height: 100%;
}