.articles-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 6px;
}

.article-item {
    gap: 10px;
    display: flex;
    width: 800px;
    height: 200px;
    align-items: left;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 5px;
    list-style-type: none;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.493);

}

.article-item img {
    height: 200px;
    width: 200px;
}

.article-item h1 {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}