.homepage {
    display: flex;
}

.articles-list {
    flex: 1 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 6px;
}

.article-item {
    flex: 1 1 200px;
    gap: 10px;
    display: flex;
    width: 800px;
    height: 200px;
    align-items: left;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 5px;
    list-style-type: none;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.493);

}
.article-info  {
    display: flex;
    flex-direction: column;
}

.article-info h2 {
    flex-grow: 1
}
.article-stats {
    gap: 20px;
    display: flex;

}

.article-item img {
    height: 200px;
    width: 200px;
}

.article-item h1 {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filters {
    margin: 30px -200px 0 20px;
    z-index: 1;
}

.sort {
    flex-grow: 1;
}

.sort-by {
    display: flex;
    width: 180px;
}

.comment-count {
    flex-grow: 1;
}